/* Write your CSS here */
.list-item {
  margin: 5px;
  background-color: #f8f8ff;
  padding: 10px;
  height: 300px;
  width: 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  height: 70px;
  width: 70px;
}

.sub-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.name-txt {
  font-family: 'Roboto';
  font-size: 18px;
}
